beautifulsoup4==4.12.2
chromadb==0.4.24
lxml
optuna
pandas==2.0.3
posthog==2.4.2
sentence_transformers==2.2.2
spacy
pytextrank
num2words
sentencepiece>=0.2.1 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.46.2 # not directly required, pinned by Snyk to avoid a vulnerability
